</td>

<td width="300px" class="sidebar">
    <div class="sidebarHeader">Меню</div>
    <ul>
        <li><a href="http://server-web-dev/OOP/www/">Главная страница</a></li>
        <li><a href="http://server-web-dev/OOP/www/about-me">Обо мне</a></li>
    </ul>
</td>
</tr>
<tr>
<td class="footer" colspan="2">Все права защищены (c) Мой блог</td>
</tr>
</table>

</body>
</html> 