body {
    background-color: #f7c3c3 ;
}
.heading {
    color: #1453ac;
    font-weight: bold;
}

label {
    color: #1453ac;
    font-weight: bold;
}

form {
    width: 400px;
    padding: 20px;

}

.faildset {
    border: 2px solid #1453ac;
    border-radius: 37px;
    width: 500px;
}

.btn {
    color: #1453ac;
    background-color: transparent;
    border: 2px solid #1453ac;
    width: 200px;
    text-align: center;
}