header {
    background-color: gray;
}

main {
    min-height: 300px;
}

footer {
    background-color: gray;
    min-height: 100px;
}

.form {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.text-footer {
    text-align: center;
}

.button {
    margin-top: 10px;
    margin-right: 20px;
}

.link {
    text-decoration: none;
    margin-top: 10px;
    color: black;
    border: 1px solid black;
    background-color: hotpink;
    padding: 2px;
    border-radius: 2px;
}

label {
    font-weight: bold;
    color: hotpink;
}